*{
  box-sizing: border-box;
 }


body {
  background-color: #EABFF3;
  font-family: arial, sans-serif;
  text-indent: 20px;
 }

.wrapper {
  background-color: #ffffff;
  width: 98%;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px 20px;

}

h1, h2 {
  color: #2d6a4f;
}

h3 {
  color: #006400;
}

blockquote {
  border-left: 3px solid #003E1F;
  padding-left: 12px;
  background-color: #DBADE5;

}

p.caption {
  font-style: italic;
}

a {
  color: #530863;
}

img {
  display: block;
  max-width: 98%;
  height: auto;
  margin-right: auto;
  margin-left: 10px;
  border-style: solid;
}

header {
  background-image: url("../images/oriental-pattern.png");
  border-bottom: 2px solid #081c15;
  text-align: center;

header.wrapper {
  padding: 26px 20px;
}

footer {
  display:block;
  border-top: 2px solid Black;
  text-align: center;
  padding-top: 40px;
  font-family: courier;
  font-size: 10%;
}



article {
  padding-top: 14px;
}

aside h2 {
  font-size: 1.4rem;
}


ul.a {
  list-style-type: decimal;
  font-family: sans-serif;
  color: #530863;
}
/*can't seem to get the Link colors to change, despite multiple types of effort. Can't find any changes in the code from where it worked to where it didn't, except the color. And even attempting to change the color doesn't work*/
a { color:#530863;
text-decoration:none;
}

a:hover {
color:#000000;
text-decoration : none;
}

mark.DarkGreen {
  color: #006400;
  background: none;
}





/*for mobile phones */
[class*="col-"] {
  width: 100%;
}
